.main-header {
  text-align: center;
  padding: 1rem 0;
  background-color: #ffffff;
  border-bottom: 2px solid rgb(3, 3, 3);
  position: sticky;
  top: 0;
}

.main-header > a {
  margin: 0rem;
  text-decoration: none;
  color: rgb(3, 3, 3);
}

.main-header > a:hover {
  color: #ffcf3e;
}
